.search-bar {
  margin-top: .5rem;
  font-size: 2rem;
  width: 63rem;
  height: 2rem;
  border-radius: 5rem;
  padding: 0 1rem;
}

.search-bar-container {
  display: flex;
  justify-content: center;
}
