.sidebar {
    position: -webkit-sticky;
    position: sticky;
    display: flex;
    flex-direction: column;
    top:0;
    height: 100%;
    width: max-content;
    align-items: center;
}

.website-title {
    padding: 1rem;
}

.sidebar-link, .website-title a{
    text-decoration: none;
}

.sidebar-link:hover, .website-title a:hover {
    text-decoration: underline;
}

.sidebar-link:visited, .website-title a:visited {
    color: inherit;
}